/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Layer definitions
#define QWR 0
#define CLM 1
#define SYM 2
#define SYM2 3
#define EXT 4
#define FUN 5

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
        label = "QWR";
// -----------------------------------------------------------------------------------------
// | ---- |  Q  |  W  |  E  |  R  |  T  | -------- |  Y  |  U  |  I  |  O  |  P  | ---- |
// | ---- |  A  |  S  |  D  |  F  |  G  | -------- |  H  |  J  |  K  |  L  |  '  | ---- |
// | ---- |  Z  |  X  |  C  |  V  |  B  | -------- |  N  |  M  |  ,  |  .  |  /  | ---- |
//                    | gui | EXT | spc | -------- | sft | SYM | alt |
        bindings = <
        &none  &kp Q       &kp W       &kp E        &kp R        &kp T        &kp Y  &kp U        &kp I        &kp O       &kp P         &none
        &none  &hm LCMD A  &hm LALT S  &hm LCTRL D  &hm LSHFT F  &kp G        &kp H  &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RCMD SQT  &none
        &none  &kp Z       &kp X       &kp C        &kp V        &kp B        &kp N  &kp M        &kp COMMA    &kp DOT     &kp FSLH      &none
                                             &none  &mo EXT  &kp SPACE        &kp LSHFT  &mo SYM  &none
        >;
        };

        colemak_layer {
        label = "CLM";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  | -------- |  Y  |  U  |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  | -------- |  H  |  J  |  K  |  L  |  '  |  ;   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  | -------- |  N  |  M  |  ,  |  .  |  /  | ESC  |
//                    | gui | EXT | spc | -------- | sft | SYM | alt |
        bindings = <
        &kp TAB   &kp Q &kp W &kp E &kp R &kp T        &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
        &kp LCTRL &kp A &kp S &kp D &kp F &kp G        &kp H &kp J  &kp K     &kp L   &kp SQT  &kp SEMI
        &kp LSHFT &kp Z &kp X &kp C &kp V &kp B        &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                     &kp LGUI &mo EXT &kp SPACE        &kp LSHFT &mo SYM &kp RALT
        >;
        };

        sym_layer {
        label = "SYM";
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  ;  |  :  |  _  | -------- |  +  |  7  |  8  |  9  |  =  |      |
// |      |  \  |  |  |  {  |  (  |  [  | -------- |  -  |  4  |  5  |  6  |  0  |      |
// |      |  `  |  ~  |  }  |  )  |  ]  | -------- |  *  |  1  |  2  |  3  |  /  |      |
//                    |     |     | SYM2| -------- |     | xxx |     |
        bindings = <
        &none  &kp EXCL  &kp AT    &kp SEMI  &kp COLON  &kp UNDER         &kp PLUS  &kp N7  &kp N8  &kp N9  &kp EQUAL &none
        &none  &kp BSLH  &kp PIPE  &kp LBRC  &kp LPAR   &kp LBKT          &kp MINUS &kp N4  &kp N5  &kp N6  &kp N0    &none
        &none  &kp GRAVE &kp TILDE &kp RBRC  &kp RPAR   &kp RBKT          &kp ASTRK &kp N1  &kp N2  &kp N3  &kp SLASH &none
                              	   &trans    &trans     &mo SYM2          &trans    &none    &trans
        >;
        };

        sym2_layer {
        label = "SYM2";
// -----------------------------------------------------------------------------------------
// |      |     |     |     |     |     | -------- |     |  &  |  `  |  ~  |     |      |
// |      |     |     |     |     |     | -------- |     |  $  |  %  |  ^  |  _  |      |
// |      |     |     |     |     |     | -------- |     |  !  |  @  |  #  |  \  |      |
//                    |     |     | xxx | -------- |     |     |     |
        bindings = <
        &none  &none  &none  &none  &none  &none         &none  &kp AMPS  &kp GRAVE  &kp TILDE  &none     &none
        &none  &none  &none  &none  &none  &none         &none  &kp DLLR  &kp PRCNT  &kp CARET  &kp UNDER &none
        &none  &none  &none  &none  &none  &none         &none  &kp EXCL  &kp AT     &kp HASH   &kp BSLH  &none
                             &trans &trans &none         &trans &trans    &trans
        >;
        };

        ext_layer {
        label = "EXT";
// -----------------------------------------------------------------------------------------
// |------| esc |     |     |     |     | -------- | hom | pgd | pgu | end | bsp |------|
// |------| cmd | alt | ctl | sft | meh | -------- | lef | dwn | up  | rig | bsp |------|
// |------|     |stab |     | tab |     | -------- |     | ret |     |     | del |------|
//                    |     | xxx | FUN | -------- |     |     |     |
        bindings = <
        &none  &kp ESC   &none       &none     &none      &none          &kp HOME  &kp PG_DN  &kp PG_UP  &kp END   &kp BSPC  &none
        &none  &sk LCMD  &sk LALT    &sk LCTRL &sk LSHFT  &none          &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT &kp BSPC  &none
        &none  &none     &kp LS(TAB) &kp RBRC  &kp TAB    &none          &none     &kp RET    &none      &none     &kp DEL   &none
                              	     &trans    &none      &mo FUN        &trans    &trans    &trans
        >;
        };

        fun_layer {
        label = "FUN";
// -----------------------------------------------------------------------------------------
// |------| br- | br+ | vl- | vl+ | mut | -------- | hom | pgd | pgu | end | bsp |------|
// |------|     |     |     |     |     | -------- | lef | dwn | up  | rig | bsp |------|
// |------| btC | bt0 | bt1 | bt2 | bt3 | -------- |     | ret |     |     | del |------|
//                    |     | xxx | FUN | -------- |     |     |     |
        bindings = <
        &none  &kp C_BRI_DN  &kp C_BRI_UP  &kp C_VOL_DN  &kp C_VOL_UP   &kp C_MUTE       &kp F12  &kp F7  &kp F8  &kp F9 &none    &none
        &none  &none         &none         &none         &none          &none            &kp F11  &kp F4  &kp F5  &kp F6 &to CLM  &none
        &none  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3     &kp F10  &kp F1  &kp F2  &kp F3 &to QWR  &none
                              	                        &trans  &trans  &none            &trans  &trans  &trans

        >;
        };

        };
};
